/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2196F3;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav u1 {
    list-style: none;
    padding: 0;
}

nav u1 li {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0.1);
}  */





/* first section styling */

.first-image{
    text-align: center;
}

.first-image img{
    width: 100px;
    height: auto;
}

.video-frame1{
    padding: 0 40px;
    margin-top: 0;
}

.video-frame1 img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.text-1{
    /* color: #fff; */
    /* position: absolute; */
    /* top: 220px; */
    margin-left: 70px;
    font-size: 17px;
    font-weight: bold;
}

.buttons-1 button{
    border: 2px red solid;
    border-radius: 15px;
    padding: 5px 8px;

}

/* second section */

.second-section{
    padding: 0 40px;
    margin-top: 15px;
    /* position: absolute; */
    /* top: 155px; */
}

.video-2 video{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.text-2{
    /* color: #fff; */
    /* position: absolute; */
    /* top: 220px; */
    margin-left: 70px;
    font-size: 17px;
    font-weight: bold;
}

.button-2 button{
    border: 2px red solid;
    border-radius: 15px;
    padding: 5px 8px;
}

/* third section */

.third-section{
    padding: 0 40px;
    margin-top: 15px;
    /* position: absolute; */
    /* top: 155px; */
}

.video-3 video{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.text-3{
    /* color: #fff; */
    /* position: absolute; */
    /* top: 220px; */
    margin-left: 70px;
    font-size: 17px;
    font-weight: bold;
}

.button-3 button{
    border: 2px red solid;
    border-radius: 15px;
    padding: 5px 8px;

}