body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    font-family: 'Nunito', sans-serif;
}

.android-header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 4px #696363;
}

.android-header img {
    width: 120px;
    height: auto;
}

nav ul{
    display: flex;
    gap: 35px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

.shop-phones{
    background-color: black;
    color: #fff;
    border-radius: 20px;
    padding: 12px 19px;

}

.nav option{
    width: 10px;
}

nav ul li{
    list-style: none;
}

/* first section styling */

.first-section{
    border: 2px solid red;
}

.first-image{
    text-align: center;
}

.first-image img{
    margin-top: 70px;
    width: 150px;
    height: auto;
}

.video-frame1{
    padding: 0 130px;
    margin-top: 0;
}

.video-frame1 img{
    width: 100%;
    height: auto;
    border-radius: 50px;
}

.text-1{
    color: #fff;
    position: absolute;
    top: 400px;
    margin-left: 210px;
    font-size: 40px;
    font-weight: bold;
}

.buttons-1 button{
    border-radius: 15px;
    width: 100px;
    height: 40px;
    padding: 5px 15px;

}

/* second section */

.second-section{
    padding: 0 130px;
    margin-top: 15px;
}

.video-2 video{
    width: 100%;
    height: auto;
    border-radius: 50px;
}

.text-2{
    color: #fff;
    position: absolute;
    top: 90rem;
    margin-left: 210px;
    font-size: 45px;
    font-weight: bold;
}

.button-2 button{
    border-radius: 15px;
    width: 100px;
    height: 40px;
    padding: 5px 15px;
}

/* third section */

.third-section{
    padding: 0 130px;
    margin-top: 15px;
}

.video-3 video{
    width: 100%;
    height: auto;
    border-radius: 50px;
}

.text-3{
    color: #110e0e;
    position: absolute;
    top: 150rem;
    margin-left: 100px;
    font-size: 50px;
    font-weight: bold;
}

.button-3 button{
    border-radius: 15px;
    padding: 5px 8px;

}

.new-andriod h2{
    text-align: center;
    margin-bottom: 3px;
    font-size: 50px;
}

.flex-section-1{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 0 100px;
    height: 35rem;
}
.flex-section-1 img{
    width: 70%;
    height: auto;
}

.item-1, .item-2, .item-3{
    text-align: center;
    border-radius: 10px;
    margin: 0 25px;
    font-size: 25px;
    padding-top: 30px;

}
.item-1{
    background-color: #e8ebde;
}

.item-2{
    background-color: #d0e8e5;
}

.item-3{
    background-color: #d1e0e7;
}

.flex-section-1 button{
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 30px;
    border: 1px solid;
    background-color: #e8ebde10;
}


.flex-section-2{
    display: flex;
    justify-content: center;
    height: 35rem;
    margin: 30px 100px;
}
.flex-section-2 img{
    width: 70%;
    height: auto;
}

.item-1a, .item-1b, .item-1c{
    text-align: center;
    border-radius: 10px;
    margin: 0 25px;
    font-size: 25px;
    padding-top: 30px;
}
.item-1a{
    background-color: #d1e0e7;
    /* width: 120% */
}

.item-1b{
    background-color: #e8ebde;
}

.item-1c{
    background-color: #d0e8e5;
}

.flex-section-2 button{
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 30px;
    border: 1px solid;
    background-color: #e8ebde10;
}

.last-button{
    text-align: center;
}

.last-button button{
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid;
    background-color: #110e0e;
    color: #fff;
}

/* last section */

.last-section{
    margin-top: 150px;
    background-color: #dfecd5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    font-size: 30px;
}

.last-section-img img{
    width: 50rem;
}
.last-section button{
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid;
    background-color: #110e0e;
    color: #fff;
}

/* style the footer here */

.footer-container{
    margin-top: 100px;
    background-color: #dee2e3;
}

.footer-items-container{
    margin: 0 150px;
    padding-top: 50px;
}

.follow-us{
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 20px;
}

.follow-us img{
    width: 100px;
}

.bottom-line{
    border-bottom: 1px solid #c3bfbf;
    margin-top: 35px;
}

.privacy{
    display: flex;
    gap: 10rem;
    font-size: 17px;
}

.for-enterprise{
    margin-top: 40px;
    display: flex;
    gap: 8rem;
    font-size: 17px;
}

.last-line{
    display: flex;
    gap: 20rem;
    align-items: center;
}

.last-image{
    text-align: center;
}
.last-image img{
    width: 100px;
}