





/* first section styling */
.video-frame1{
    width: 50%;
    height: auto;
    /* margin: auto 30px; */
    border-radius: 15px;
    display: block;
    justify-content: center;
    align-items: center;
}